<style>
  .aligncenter {
    text-align: center;
  }
</style>


<div class="container">
  <div style="text-align:center">
    <h1>
      Hey {{name}}! Welcome to {{title}}!
    </h1>
  </div>

  <p class="aligncenter">
    <img src="assets/Logo.png" width="600" alt="Cookie Land Logo">
  </p>

  <p class="aligncenter">
    🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪
  </p>

  <p class="aligncenter">
    🍪🍪(⋆‿⋆)🍪🍪 Infinite cookies await you!! 🍪🍪(⋆‿⋆)🍪🍪
  </p>

  <p class="aligncenter">
    🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪🍪
  </p>

  <br />

  <p class="aligncenter">
    Check out our menu <a routerLink="/menu">here</a>.
  </p>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
  <h2>Your Customized Welcome Message</h2>
  {{welcomeMessageFromService}}
</div>

