<h1>Our Cookie Menu</h1>

<head>
  <style>
    div {
      background-color: lightgrey;
      width: 900px;
      border: 15px solid brown;
      padding: 20px;
      margin: 20px;
    }
  </style>
</head>

<head>
  <style>
    td {
      background-color: lightgrey;
      width: 750px;
      padding: 20px;
      margin: auto;
    }
  </style>
</head>

<body>

  <tr *ngFor="let shopItem of shopItems">
    <div class="container">
      <table class="table">

        <thead>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody>
          <td><img src={{shopItem.picture}} alt={{shopItem.picture}} width="200" height="150"></td>
          <td>{{shopItem.itemName}}</td>
          <td>{{shopItem.description}}</td>
          <td>{{shopItem.price}}</td>
          <td><button (click)="addItemToCart(shopItem)" class="btn-success">Add to cart</button></td>
        </tbody>

      </table>
    </div>
  </tr>

</body>
