<h1>Modify your address.</h1>

<head>
  <style>
    input {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>


<div class="container">

  <div>
    Full Name : <input type="text" [(ngModel)]="fullName">
    <br />
    Address Line 1 : <input type="text" [(ngModel)]="addressOne">
    <br />
    Address Line 2 : <input type="text" [(ngModel)]="addressTwo">
    <br />
    City : <input type="text" [(ngModel)]="city">
    <br />
    State : <input type="text" [(ngModel)]="state">
    <br />
    Zip Code : <input type="text" [(ngModel)]="zipCode">
    <br />
    <br />

    <button *ngIf="allInputEntered() && allCorrectFormat()" (click)=saveNewAddress() class="btn btn-success">Save New Address</button>
    <div class="alert alert-warning" *ngIf="!allInputEntered() || !allCorrectFormat()">Please fill out address.</div>
    <br />
    <br />
    <button (click)=backToUserInfo() class="btn btn-success">Cancel</button>

  </div>
</div>
