<h1>Modify your card number.</h1>

<head>
  <style>
    input {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>


<div class="container">

  <div>
    Card Number : <input type="text" [(ngModel)]="cardNum">

    <button *ngIf="allInputEntered()" (click)=saveNewCardNum() class="btn btn-success">Save New Card Number</button>
    <div class="alert alert-warning" *ngIf="!allInputEntered()">Please fill out card number.</div>
    <br />
    <br />
    <button (click)=backToUserInfo() class="btn btn-success">Cancel</button>

  </div>
</div>
