<h1>Please enter your address and payment information.</h1>

<head>
  <style>
    input {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>


<div class="container">

  <div>
    Full Name : <input type="text" value={{accountDetailItem.fullName}} [(ngModel)]="fullName">
    <br />
    Address Line 1 : <input type="text" value={{accountDetailItem.address}} [(ngModel)]="addressOne">
    <br />
    Address Line 2 : <input type="text" [(ngModel)]="addressTwo">
    <br />
    City : <input type="text" value={{accountDetailItem.city}} [(ngModel)]="city">
    <br />
    State : <input type="text" value={{accountDetailItem.state}} [(ngModel)]="state">
    <br />
    Zip Code : <input type="text" value={{accountDetailItem.zipCode}} [(ngModel)]="zipCode">
    <br />
    Credit Card Number : <input type="text" digitOnly [(ngModel)]="creditCardNumber">
    <br />
    <br />

    <button *ngIf="allInputEntered()" (click)=proceedToCheckout() class="btn btn-success">Check Out</button>
    <div class="alert alert-warning" *ngIf="!allInputEntered()">Please fill out address and payment information.</div>
    <br />
    <br />
    <button (click)=backToCart() class="btn btn-success">Back to Cart</button>

  </div>
</div>


